*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);
  text-align: center;
  padding: 2em;
}

.container {
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
}

.timer-display {
    position: relative;
    width: 92%;
    background: #fff;
    left: 4%;
    font-family: 'Roboto mono', monospace;
    color: #8c52ff;
    font-size: 30px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(65, 5, 145, 0.25);
}

.buttons {
    width: 90%;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button {
    width: 120px;
    height: 45px;
    background-color: #e81663;
    color: #fff;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.buttons button:nth-last-child(2) {
    background-color: #f7df1e;
}

.buttons button:nth-last-child(1) {
    background-color: #e35209;
}

.buttons button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.lap-times {
    margin-top: 20px;
    text-align: center;
}

.lap-times h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

#lap-list {
    list-style: none;
    padding: 0;
}

#lap-list li {
    color: #e9e7ed;
    font-size: 18px;
    margin-bottom: 5px;
}
